{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Vérifier votre boîte Mail{% endblock %}

{% block body %}
    <div class="display-myprofile-container">
        <p>
            Si un compte correspondant à votre adresse e-mail existe, un e-mail a été envoyé contenant un lien que vous
            pouvez utiliser pour réinitialiser votre mot de passe.
            Ce lien expirera
            dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
        </p>
        <p>Si vous n'avez pas reçu de mail, veuillez vérifier votre dossier spam ou <a
                    href="{{ path('app_forgot_password_request') }}">réessayer</a>.</p>
    </div>
{% endblock %}
