:root {
    --initialColor: #000;
}

html, body, * {
    position:relative;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--initialColor);
    font-family: Arial, serif;
}

body {
    display: grid;
    grid-template-rows: 0fr 1fr;
    height: 100vh;
}

/*#load {
    opacity: 0;
    transition: all 1.5s;
}*/

main {
    padding: 2rem 10%;
}

nav {
    height: 85px;
    display: inherit;
    grid-template-columns: 0fr 1fr;
    align-items: center;
    padding-inline: 10%;
    box-shadow: 0 0 9px rgba(121, 121, 121, 0.7);
}

.nav-container {
    justify-items: right;
    display: inherit;
}

.message {
    position: fixed;
    top: 0;
    height: 100%;
    overflow-y: auto;
    right: 0;
    z-index: 999999;
}

.comment {
    background-color: orange;
    height: fit-content;
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(94, 94, 94, 0.7);
    color: #fff;
    cursor: pointer;
}

.success, .error {
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(164, 164, 164, 0.7);
    height: fit-content;
    margin: 1rem;
}

.success {
    background-color: #57f24aa3;
}

.info {
    background-color: rgba(231, 140, 21, 0.83);
}

.error {
    background-color: rgba(217, 84, 84, 0.83);
}

.error > p {
    color: #fff;
}

.listCacher {
    display: none;
}

.main-list-filter {
    display: grid;
    grid-template-columns: repeat(auto-fit, 475px);
    grid-gap: 2rem;
    justify-content: center;
}

.listFilter {
    display: inherit;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0 0 3px rgba(0, 0, 0, .7);
    padding: 1.5rem;
    grid-gap: 1rem;
    line-height: 1.5;
    border-radius: 5px;
}

.article-column {
    display: inherit;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid #ddd;
    align-content: center;
}

.article-column > * {
    display: inherit;
    white-space: nowrap;
    align-items: center;
}

.article-cust-action {
    display: block;
}

.article-cust-organisateur {
    font-size: 15px;
    font-style: italic;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: initial;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(153, 153, 153, 0.4);
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    90%{
        opacity: 1;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}